<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a routerLink="/about" >About Us</a></li>
          <li><a [routerLink]="['/careers']">Careers</a></li>
          <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
          <li><a [routerLink]="['/terms']">Terms of Service</a></li>
        </ul>      
      </div>
      <div class="footer-col">
        <h4>Help</h4>
        <ul>
          <li><a [routerLink]="['/faq']">FAQ</a></li>
          <li><a [routerLink]="['/contact']">Contact Us</a></li>
          <li><a [routerLink]="['/returns']">Returns</a></li>
          <li><a [routerLink]="['/shipping']">Shipping Information</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Shop</h4>
        <ul>
          <li><a [routerLink]="['/products']">Products</a></li>
          <li><a [routerLink]="['/new-arrivals']">New Arrivals</a></li>
          <li><a [routerLink]="['/sales']">Sales</a></li>
          <li><a [routerLink]="['/gift-cards']">Gift Cards</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>