<div class="about-container">
  <div class="about-content">
    <div class="about-image">
      <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1026&q=80" alt="Apple products lineup" class="modern-image">
    </div>
    <div class="about-text">
      <h2 class="section-title">About <span class="berry-highlight">Us</span></h2>
      <p class="section-description">
        At MacMarket, we are passionate about creating innovative solutions to simplify your life. Our mission is to deliver intuitive and efficient products that enhance your daily experiences. We believe in harnessing technology to make life easier and more enjoyable.
      </p>
      <p class="section-description">
        By anticipating your needs, we strive to provide reliable and effective solutions that exceed your expectations. Our team of experts works tirelessly to bring you the best Apple products and accessories.
      </p>
      
      <div class="social-section">
        <h3 class="social-title">Join us on:</h3>
        <div class="social-icons">
          <a href="#" class="social-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook" class="social-img">
          </a>
          <a href="#" class="social-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter" class="social-img">
          </a>
          <a href="#" class="social-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Gmail" class="social-img">
          </a>
          <a href="#" class="social-icon">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" class="social-img">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>